.home-container {
  .home-container-top {
    background-image: linear-gradient(
      to right top,
      #f1f3ff,
      #f0f3ff,
      #eef2ff,
      #edf2ff,
      #ebf2ff,
      #e6f3ff,
      #e0f3ff,
      #daf4ff,
      #cdf7ff,
      #bffaff,
      #b2fcff,
      #a7fff9
    );
    padding: 150px 3% 100px 3%;
    .profile-picture {
      width: 80%;
      height: 80%;
      margin: 7.5%;
      object-fit: contain;
    }
    .wrap-head {
      color: #990576;
      text-transform: capitalize;
    }
    .box-contents {
      margin-top: 13%;
      padding: 5%;
      color: #0f2c59;
    }
    .box-contents .btn-primary {
      margin-top: 30px;
      font-weight: 600;
      text-transform: capitalize;
      border: 1px solid #0d004d;
      color: #0d004d;
      border-radius: 30px;
      padding: 10px 30px;
    }
    .box-contents .btn-primary:hover {
      margin-top: 30px;
      font-weight: 600;
      text-transform: capitalize;
      background-color: #213555;
      border: 1px solid #0d004d;
      color: white;
      border-radius: 30px;
      padding: 10px 30px;
    }
  }
  .home-cotainer-bot {
    padding: 4%;
  }
  .extern-link {
    margin-bottom: 50px;
    .home-social-ref {
      text-align: center;
      padding: 0px 30px;
      margin: 0px 50px;
    }
    .social-text {
      color: #0f2c59;
      text-align: center;
      font-style: italic;
    }
    .home-social-icon {
      position: relative;
      display: inline-block;
      margin-right: 20px;
      .icon-button {
        color: #161a30;
        background-image: linear-gradient(
          to right top,
          #f1f3ff,
          #f0f3ff,
          #eef2ff,
          #edf2ff,
          #ebf2ff,
          #e6f3ff,
          #e0f3ff,
          #daf4ff,
          #cdf7ff,
          #bffaff,
          #b2fcff,
          #a7fff9
        );
        border: 2px solid transparent;
        transition: border 0.3s, box-shadow 0.3s;
      }
      .icon-button:hover {
        border: 2px solid #3498db;
        box-shadow: 0 0 10px 5px #3498db80;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
  }
  .sub-title {
    color: #0f2c59;
    font-size: 22px;
    font-weight: 500;
  }
  .title-wrap-head {
    font-size: 32px;
    text-transform: uppercase;
    color: #0f2c59;
    .red {
      color: #3498db;
    }
  }
  .text {
    font-size: 18px;
    color: #0f2c59;
  }
  .social-head {
    font-size: 32px;
    text-transform: uppercase;
    color: #0f2c59;
    text-align: center;
  }
  .icon-picture {
    border-radius: 100%;
    margin-top: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}
@media screen and (min-width: 600px) and (max-width: 960px) {
  .icon-picture {
    border-radius: 100%;
    margin-top: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
}
@media screen and (min-width: 960px) {
  .icon-picture {
    border-radius: 100%;
    margin-top: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}
@media screen and (min-width: 600px) {
  .title {
    font-size: 56px;
    font-weight: 800;
    text-transform: uppercase;
  }
  .sub-title {
    color: #0f2c59;
    font-size: 28px;
    font-weight: 500;
  }
  .title-wrap-head {
    font-size: 44px;
    text-transform: uppercase;
    color: #0f2c59;
    .red {
      color: #3498db;
    }
  }
  .text {
    font-size: 20px;
    color: #0f2c59;
  }
  .social-head {
    font-size: 44px;
    text-transform: uppercase;
    color: #0f2c59;
    text-align: center;
  }
}
